{% extends 'ptfinderApp/base.html' %}
{% load static %}

{% block title_block %}
Contact Us
{% endblock %}

{% block body_block %}
<h1> Contact us at any of the following </h1>
General Enquiries: Enquiries@ptfinder.co.uk <br>
Call us on 01543 643 543 <br>
Follow us on Facebook at www.Facebook.com/ptfinder <br>
or follow our Twitter @ptfinderofficial <br> </br>


<h3> Meet the Team! </h3>
<b> Glen: </b> <br>
e-mail: Glen@ptfinder.co.uk <br>
twitter: @GlenRocks123 <br> </br> 

<b> Lewis: </b> <br>
e-mail: Lewis@ptfinder.co.uk <br>
twitter: @LewisIzCool <br> </br> 

<b> Cameron: </b> <br>
e-mail: Cammy@ptfinder.co.uk <br>
twitter: @Xx_CAMMY_xX <br> </br> 

<b> Joumana: </b> <br>
e-mail: Joumana@ptfinder.co.uk <br>
twitter: @Joumana_anamuoJ <br> </br> 

<b> Kieren: </b> <br>
e-mail: Kieren@ptfinder.co.uk <br>
twitter: @KierenKK99 <br> </br> 
{% endblock %}