{% extends 'ptfinderApp/base.html' %}
{% load static %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
<h1>Register</h1>
{% if registered %}
<strong>Thanks for registering</strong>
<a href="{% url 'ptfinder:index' %}">return to homepage</a><br />
{% else %}
<strong>Register here!</strong><br />
<form id="user_form" method="post" action="{% url 'ptfinder:register' %}" enctype="multipart/form-data">
	{% csrf_token %}
	{{ user_form.as_p }}
	{{ profile_form.as_p}}
	<input type="submit" name="userSubmit" value="register" />
</form>
<a href="{% url 'ptfinder:trainer_register' %}">or sign up as a trainer</a><br />
{% endif %}
{% endblock %}