{% extends 'ptfinderApp/base.html' %}
{% load static %}

{% block title_block %}
- Trainers
{% endblock %}

{% block body_block %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Browse Trainers</h1>
            <p class="lead">Find the perfect trainer for you!</p>
        </div>
    </div>
    <div class="accordion" id="trainerAccordion">
        <!-- for trainer in trainer_list -->
            <div class="card">
                <div class="card header collapsed p-2" id="generate HEADER with py" type="button" data-toggle="collapse" data-target="generate TARGET with py" aria-expanded="false" aria-controls="generated target">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-2">
                            <img src="https://via.placeholder.com/150" class="img-fluid rounded trainer-img mx-auto d-block">
                        </div>
                        <div class="col my-auto">
                            Trainer first name
                        </div>
                    </div>  
                </div>
                <div id="generated target" class="collapse show" aria-labelledby="generated header" data-parent="#trainerAccordion">
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Full name</td>
                                    <td class="text-truncate">Specialism</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block profile-grid-3 %}
    Google Maps API intergration here pls
{% endblock %}

{% block profile-grid-4 %}
	<form id="trainer_search" method="post" action="{% url 'ptfinder:trainer' %}">
	{% csrf_token %}

	search: <input type="text" name="search" value="" size="50" />
	<br>
    <h5> This trainer specialised in: {{ trainer.specialism }} </h5>
{% endblock %}

{% block profile-grid-5 %}
	{% comment %}
		{% if isTrainer && loggedInUser == thisUser: %}
			<button type="button" onclick="window.location.href = '';" class="btn btn-dark btn-lg btn-block">Edit Profile</button>
	{% endcomment %}
{% endblock %}

{% block profile-grid-6 %}
{% endblock %}