{% extends 'ptfinderApp/user-template.html' %}
{% load static %}

{% block title_block %}
{% endblock %}

{% block profile-grid-1 %}
    <img class="profile-img" src="https://via.placeholder.com/450" alt="">
{% endblock %}

{% block profile-grid-2 %}
    <div class="container-fluid">
        <div class="row centre-content">
            <div class="col">
					{% if trainer %}
						<h5> general info </h5>
					{% else %}
						<h5> search for a trainer's username to see their info </h5>
					{% endif %}
            </div>
        </div>
        <div class="row centre-content">
            <div class="col">
                <br>
                <h5>Price: </h5> {{ trainer.price }}				
            </div>
        </div>
        <div class="row centre-content">
            <div class="col">
                <br>
                <h5>Contact Number:  {{ trainer.contact_no }} </h5>
				<br>
				<h5>First Name: {{trainer.t_account.first_name }} </h5>
				<br>
				<h5>Surname:  {{trainer.t_account.last_name }} </h5>
				<br>
				<h5>Email: {{trainer.t_account.email }} </h5>
            </div>
        </div>
        <div class="row">
            <div class="col trainer-btn">
                <button type="button" onclick="window.location.href = '';" class="btn btn-dark btn-lg btn-block">Book Now</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block profile-grid-3 %}
    Google Maps API intergration here pls
{% endblock %}

{% block profile-grid-4 %}
	<form id="trainer_search" method="post" action="{% url 'ptfinder:trainer' %}">
	{% csrf_token %}

	search: <input type="text" name="search" value="" size="50" />
	<br>
    <h5> This trainer specialised in: {{ trainer.specialism }} </h5>
{% endblock %}

{% block profile-grid-5 %}
	{% comment %}
		{% if isTrainer && loggedInUser == thisUser: %}
			<button type="button" onclick="window.location.href = '';" class="btn btn-dark btn-lg btn-block">Edit Profile</button>
	{% endcomment %}
{% endblock %}

{% block profile-grid-6 %}
{% endblock %}